{% extends "base.html" %}
{% block title %}{{ category }} List{% endblock %}
{% block content %}
<h1>{{ category }} List</h1>
<div class="grid-container">
    {% if category.lower() in ["type", "egg-group"] %}
        <!-- Affichage spécifique pour la catégorie "Type" -->
        {% for result in results %}
            <div class="card">
                <h3>{{ result.label }}</h3>
            </div>
        {% endfor %}
    {% else %}
        <!-- Affichage standard pour les autres catégories -->
        {% for result in results %}
            <div class="card">
                <img src="/proxy-image/?url={{ result.image | urlencode }}" 
                alt="{{ result.label }}" 
                onerror="this.src='/static/no_image.png';">
                <h3>{{ result.label }}</h3>

                {% if category.lower() == "move" %}
                    <!-- Lien vers les détails pour les moves -->
                    <a href="{{ url_for('move_details', move_name=result.label) }}">View Details</a>
                {% elif category.lower() == "episode" %}
                    <!-- Lien vers les détails pour les épisodes -->
                    <a href="{{ url_for('episode_details', episode_id=result.label) }}">View Details</a>
                {% else %}
                    <!-- Lien vers les détails standard -->
                    <a href="{{ url_for('pokemon_details', pokemon_name=result.label.replace(' (Pokémon)', '')) }}">View Details</a>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

