{% extends "base.html" %}
{% block title %}{{ details.title }}{% endblock %}
{% block content %}
<div class="css-page">

<div>
    <h1>{{ details.title }}</h1>
    <img src="/proxy-image/?url={{ details.image | urlencode }}" alt="{{ details.title }}">
    <ul>
        <li><strong>Episode Number:</strong> {{ details.episode_number or "N/A" }}</li>
        <li><strong>Japan Release Date:</strong> {{ details.japan_release_date or "N/A" }}</li>
        <li><strong>US Release Date:</strong> {{ details.us_release_date or "N/A" }}</li>
        <li><strong>Director:</strong> {{ details.director or "N/A" }}</li>
        <li><strong>Screenplay:</strong> {{ details.screenplay or "N/A" }}</li>
        <li><strong>Storyboard:</strong> {{ details.storyboard or "N/A" }}</li>
        <li><strong>Opening Theme:</strong> {{ details.opening or "N/A" }}</li>
        <li><strong>Ending Theme:</strong> {{ details.ending or "N/A" }}</li>
        <li><strong>Animation Team:</strong> {{ details.animation or "N/A" }}</li>
        <li><strong>Pokémon Debut:</strong>
            <div class="grid-container">
                {% for pokemon in details.pokemon_debut %}
                    <a href="{{ url_for('pokemon_details', pokemon_name=pokemon.label.replace(' (Pokémon)', '')) }}">
                        <div class="card">
                            {% if pokemon.image %}
                                <img src="/proxy-image/?url={{ pokemon.image | urlencode }}" alt="{{ pokemon.label }}">
                            {% else %}
                                <img src="/static/no_image.png" alt="No Image Available">
                            {% endif %}
                            <h3>{{ pokemon.label or "Unknown Pokémon" }}</h3>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </li>
        
        
    </ul>
</div>

</div>
{% endblock %}
